.highlight {
    color: red !important;
    font-weight: bold;
}
.el-card__header{
    div{
        .titTop{
            font-size: 14px;
            color: #f60;
        }
    }
}
.titcen{
    margin: 10px 0!important;
    font-size: 14px;

}
.summary{
    margin: 6px 0!important;
}
.content{
    letter-spacing: 1px!important;
}